body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: white;
  font-size: 80%;
  padding: 20px;
}

.App {
  background: transparent;
  /* height: 300px; */
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* overflow: auto; */
}

.App .card {
  background: #404040;
  color: #ffffff;
  width: 50%;
  padding: 20px;

  overflow: auto;

  border-radius: 6px;
}
.App .card2 {
  margin-top: 30px;
  background: #404040;
  color: #ffffff;
  width: 80%;
  padding: 20px;

  overflow: auto;

  border-radius: 6px;
  min-height: 100px;
}
.card label {
  line-height: 2rem;
  font-size: 18px;
  display: flex;

  justify-content: flex-start;
  flex-wrap: wrap;
}
.card input {
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 24px;
}

.btn-row {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 12px;
}

.card .btn-row button {
  background-color: #3f51b5;
  color: #f7f7f7;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  height: 34px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
  .App {
    width: 100%;
  }
}
